*{
    margin: 0;
    box-sizing: content-box;
    padding: 0;
    font-family: "poppins", sans-serif;
}
body{

}
div{
    display: block;
}
/* header */
/* .wrapper{
    display: flex;
    background-color:#003366;
    color: white;
     max-width: 100%;
    max-height: 150px;
    justify-content: space-between;
    align-items: center;
    padding:15px 15px;
    z-index: 999;
    position: sticky;
   
}
.wrapper img{
    width:24%;
    height: 40px;
    padding: 1px 1px;
    background-color: transparent;

}
.logo{
    justify-content: flex-start;
     max-width:100%; 
     max-height: 80px;

}
.logo img{
    max-width: 0px;
    max-height: 0px;
} */


/* .logo{
    justify-content: flex-start;
     max-width:100%; 
     max-height: 80px;

}
.logo img{
    max-width: 0px;
    max-height: 50px;
} */


.search-bar input {
    width:30rem;
    max-width:auto;
    max-height: 50rem;
    border: none;
    padding: 5px;
    font-size: medium;
    color:rgb(6, 6, 6);
    background-color:white;
    border-radius: 30px;
    border-bottom:4px solid  #000 ;
    justify-content: flex-end; 
}
.search-bar input:hover{
    border: none;
    background-color: rgb(181, 235, 248); 
    border-radius: 30px;
    border-bottom:4px solid  rgb(117, 221, 250) ;
}
/* navigation */



#newnav
	{   
		display: flex;
		align-items: center;
		justify-self: flex-start;
		vertical-align: middle;
		background-color:rgb(32, 14, 90);
;
		color: gold;
		/* background-image: url(image/navbg.jpg); */
		background-repeat: no-repeat;
		background-size: cover;
		max-height: 200px;
		z-index: 999;
        padding-left: 10px;
		position: sticky;
		top:0;
		left: 0;
		
	}
    #navbar li input{
        width:200px;
        max-width: auto;
        padding:10px auto 10px auto;
        border-bottom:2px black;
        border: none;
        border-radius: 3px;
        padding: 5px
        
    }
    #navbar li img{
        max-width: 150px;
        max-height: 30%;
        padding: 0;
        margin: 0;
    }
	nav{
		z-index: 999;
		position: sticky;
		top:0;
		left: 0;
		
	}
    #newnav h1{
			/* padding-top:1px; */
			padding-left:25px;
			text-align: center;
			align-self: center;
			text-decoration: double;
			vertical-align: middle;
			font-family: my own topher;
			font-size: 20px;
			text-indent: bold;
			color:gold;
			text-shadow: floralwhite;
	}
    #navbar {
		height: 70px;
        max-width: 100%;
		position:unset;
		display: flex;
		align-items: center;
		justify-content:auto;
		transition: 0.3 ease;
        justify-content: flex-start;
		align-items: center;
    		font-size:  14px;
    		text-indent: bold;
			/* background-color: #8e0665; */
			/* max-height: 30px; */
			padding-bottom: 0;
            }
	#navbar  li{
		padding-top: 6px;
		word-spacing: 10px;
		position:unset;
    display: flex;
    align-items: center;
    justify-content:start;
    transition: 0.3 ease;
	justify-items: center;
    justify-content: space-between;
	}
	#navbar a{
		text-decoration: none;
	}
/* csodvhiurghijbgrqevoiabdco,....... */


nav li,a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 300;
    justify-content: space-between;
    margin: 6px;
}

/* one image slider */
.one-img{
    max-width:100%;
    /* height: 0px; */
}

.heading{
    font-size: large;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product-cards{
    max-width: 100%;
    margin:10px;
    padding:10px 70px;
}